{% extends 'base.html.twig' %}

{% block title %}Créer un contact{% endblock %}

{% block css %}
    <!-- Ajoutez ici les liens vers vos fichiers CSS -->
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Créer un contact</h1>
        {{ form_start(form) }}
        <div class="form-group">
            <label for="nom">Nom</label>
            {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            <label for="prenom">Prénom</label>
            {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            <label for="telephone">Numéro de téléphone</label>
            {{ form_widget(form.telephone, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Ajouter le contact</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block script %}
    <!-- Ajoutez ici les liens vers vos fichiers JavaScript -->
{% endblock %}
